/*General css*/

:root {
  --border-color: #000000;
  --black: #000000;
  --background:#f6f6f7;
  --white:#ffffff;
  --red:#ed4747;
  --green:#72e172;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;;
}

textarea, input {
  font-family: monospace;
}

img {
  height: 100%;
  width: 100%;
}

.light-font {
  font-weight: 300;
}

.bold-font {
  font-weight: 700;
}

.App {
  display: grid;
  background-color: var(--background);
  gap: 1rem;
  grid-template: 1fr  / 1fr  1.2fr;
  padding: 1svw 1.5svw;
}


.pretty-background {
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 0 0 5px #00000044;
}

section {
  padding: 1.5svw;
}


.bold-horizontal {
  background-color: var(--black);
  border: none;
  height: .4rem;
}

.top-border {
  border-top: 2px solid var(--black);
}

.top-margin {
  margin-top: 2rem;
}

/*Input Section*/

.input-section-padding {
  padding: 1.3rem 1rem;
}

#input-section > div {
  margin-bottom: 1.5rem;
}

.button-section {
  display: flex;
  justify-content: space-around;
}

.button-template {
  height: 2.5rem;
  width: clamp(100px, 30%, 180px);
  border-radius: .3rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: .9rem;
}

.button-template > i {
  padding: 0 .3rem;
}

.delete-btn {
  background-color: var(--red);
  color: var(--white);
}

#education-form > div {
  display: flex;
  justify-content: space-between;
}

#cancel-education-btn {
  background-color: var(--red);
  color: var(--background);
}

#save-education-btn {
  background-color: var(--green);
  color: var(--background);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.input-container > label {
  margin-bottom: .5rem;
  
}

.input-container > input, .input-container > textarea {
  background-color: var(--background);
  border-radius: 1rem;
  border: 2px solid var(--background);
  font-size: 1rem;
  padding: .75rem .5rem;
  transition: all .25s;
}

.input-container > input:focus, .input-container > textarea:focus {
  outline: none;
  border: 2px solid var(--green);
}

.align-center-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/*Preview Section*/


#preview-section {
  align-self:start;
  width: clamp(450px, 100%, 700px);
}

.preview-general-info {
  display: flex;
}

.preview-general-info > div:first-child {
  width: 70%;
}

.name-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8rem;
}

.name-display > h1 {
  font-size: 2.3rem;
}

.name-display > p {
  font-size: 1.2rem;
}

.preview-img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.preview-img > img {
  border-radius: 100%;
  aspect-ratio: 1;
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  width: 100%;
}

.preview-contacts {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.attribute-list {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  white-space: normal;
  word-break: break-word;
}

.attribute-name {
  width: 38%;
}

.text-area-div {
  width: 100%;
}

.attribute-ul-list {
  width: 100%;
  margin-left: 5rem;
  list-style: square;
  font-weight: 300;
  font-size: .9rem;
}